/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

body,
html {
  position: fixed;
  width: 100%;
  height: 100%;
}

#thr-trivia .trivia {
	display: block;
	position: relative;
	height: 500px;
}

#thr-trivia .trivia .stage {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	z-index: 0;
	transition-property: opacity;
	transition-duration: 1s;
}

#thr-trivia .trivia.stage_0 .loading, #thr-trivia .trivia.stage_1 .playing, #thr-trivia .trivia.stage_2 .gameover {
	opacity: 1;
	z-index: 1;
}

#thr-trivia .trivia .loading {
	
}

#thr-trivia .trivia .loading .label {
	display: none;
	position: absolute;
	left: 50%;
	height: 50%;
	transform: translateX(-50%) translateY(-50%);
	font-size: 2.827em;
	font-weight: 800;
}

#thr-trivia .trivia .playing {
	
}

#thr-trivia .trivia .playing .timer {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 200px;
}

#thr-trivia .trivia .playing .timer .label {
	display: block;
	text-align: center;
}

#thr-trivia .trivia .playing .timer .value {
	display: block;
	text-align: center;
	font-size: 2.827em;
	line-height: 1em;
	font-weight: 800;
}

#thr-trivia .trivia .playing .score {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	width: 200px;
}

#thr-trivia .trivia .playing .score .label {
	display: block;
	text-align: center;
}

#thr-trivia .trivia .playing .score .value {
	display: block;
	text-align: center;
	font-size: 2.827em;
	line-height: 1em;
	font-weight: 800;
}

#thr-trivia .trivia .playing .question {
	display: block;
	position: absolute;
	padding: 1.999em 0 0 0;
	top: 100px;
	width: 100%;
	border-top: 2px solid #ccc;
}

#thr-trivia .trivia .playing .question .text {
	display: block;
	position: relative;
	min-height: 100px;
	font-size: 1.414em;
	line-height: 1.25em;
	text-align: center;
}

#thr-trivia .trivia .playing .question .answers {
	display: block;
	position: absolute;
	width: 70%;
	left: 50%;
	transform: translateX(-50%);
	list-style: none;
	margin: 0 !important;
	padding: 0;
}

#thr-trivia .trivia .playing .question .answer {
	display: block;
	position: relative;
	margin: 0 auto 0.5em auto;
	left: 0;
	padding: 1em 2em;
	opacity: 1;
	background: #eee;
	border-radius: 6px;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
	font-size: 1.2em;
	line-height: 1em;
	text-align: center;
	transition-property: color background opacity;
	transition-duration: 0.5s;
}

#thr-trivia .trivia .playing .question.show_answer .correct {
	background: green;
	color: #fff;
}

#thr-trivia .trivia .playing .question.show_answer .wrong {
	opacity: 0.25;
}

#thr-trivia .trivia .gameover .modal {
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}

#thr-trivia .trivia .gameover .modal .label {
	text-align: center;
	font-size: 1.999em;
	font-weight: 800;
	margin-bottom: 1em;
}

#thr-trivia .trivia .gameover .modal .score {
	text-align: center;
	font-size: 3.998em;
	font-weight: 800;
	margin-bottom: 1em;
}

#thr-trivia .trivia .gameover .modal .actions {
	text-align: center;
}

#thr-trivia .trivia .response {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
}

#thr-trivia .trivia .response .badge {
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 300px;
	height: 300px;
	opacity: 0;
	transform: translateX(-50%) translateY(-50%) scale(0.1) rotate(10deg);
	border-radius: 50%;
	border: 10px solid #fff;
	color: #fff;
	line-height: 300px;
	text-align: center;
	font-size: 2.827em;
	font-weight: 800;
	animation-name: badge_effect;
	animation-timing-function: ease;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.4);
}

#thr-trivia .trivia .response.correct .badge {
	background-color: green;
	animation-duration: 1s;
}

#thr-trivia .trivia .response.wrong .badge {
	background-color: #EE2329;
	animation-duration: 2s;
}

.gfield.score {
	visibility: hidden;
	height: 1px;
}

@keyframes badge_effect {
	from {
		opacity: 0;
		transform: translateX(-50%) translateY(-50%) scale(0.1) rotate(-10deg);
	}

	15% {
		opacity: 1;
		transform: translateX(-50%) translateY(-50%) scale(1) rotate(0deg);
	}

	85% {
		opacity: 1;
		transform: translateX(-50%) translateY(-50%) scale(1) rotate(5deg);
	}

	to {
		opacity: 0;
		transform: translateX(-50%) translateY(-50%) scale(0.1) rotate(10deg);
	}


}
